@page "/Reservation/Confirm"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject Cinema.Common.HttpClients.ReservationServiceHttpClient reservationServiceClient;

<PageTitle>Potvrzení rezervace</PageTitle>

<div class="container">
    <h1>KINO</h1>
    <h3>POTVRZENÍ REZERVACE</h3>

    <div class="reservation-box">
        @if (ShowSuccessMessage)
        {
            <div class="alert alert-success mt-3">
                Rezervace úspěšně potvrzena!
            </div>
            <button class="btn btn-success mt-2" @onclick="@(() => Navigation.NavigateTo("/"))">
                Zpět na hlavní stránku
            </button>
        }
    </div>
</div>

@code {
    [SupplyParameterFromQuery]
    public string Token { get; set; }
    private string MovieName = null;
    private string FormattedSeats { get; set; } = "Žádné sedadlo";
    private string UserEmail { get; set; } = "";
    private bool ShowSuccessMessage { get; set; } = false;

    protected async override Task OnInitializedAsync()
    {
          await reservationServiceClient.ConfirmReservation(Token);
          ShowSuccessMessage = true;
    }
}
